In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('Airplane_Crashes_and_Fatalities_Since_1908.csv',index_col= 0)

In [3]:
len(df)

5268

In [4]:
df.isnull().sum()

Date               0
Time            2219
Location          20
Operator          18
Flight #        4199
Route           1706
Type              27
Registration     335
cn/In           1228
Aboard            22
Fatalities        12
Ground            22
Summary          390
dtype: int64

# Let's Deal With These Nulls

In [5]:
# for me own self research I will quickly drop some of the smaller null values so that I may focus on bigger issues

In [6]:
droppers = ['Location','Operator','Type','Registration','Aboard','Fatalities','Ground','Summary','cn/In','Route']

## Drop

In [7]:
df = df.drop(columns= 'Flight #')

In [8]:
# Drop rows where any of the specified columns have null values
df = df.dropna(subset=droppers)

## Time fix

In [14]:
#df['Time'].mode()[0]
# Calculate the mode of the 'Time' column
time_mode = df['Time'].mode()[0]

df['Time'] = df['Time'].fillna(time_mode)

# Clean Data

In [19]:
df.shape

(2969, 12)

In [20]:
df.to_csv('fatal_avi')

In [21]:
# filter rows where at least one column is null
#df.isnull().any(axis=1)

df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Date, Time, Location, Operator, Route, Type, Registration, cn/In, Aboard, Fatalities, Ground, Summary]
Index: []